In [189]:
import numpy as np

##### NUMPY
# Задача 1
# Импортируйте библиотеку Numpy и дайте ей псевдоним np.
# Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. 
# Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. 
# Будем считать, что каждый столбец - это признак, а строка - наблюдение. 
# Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. 
# Результат запишите в массив mean_a, в нем должно быть 2 элемента.

a = np.array([[1,6],[2,8],[3,11],[3,10],[1,7]])
print(a)
mean_a = np.mean(a, axis=0)

print(f"среднее по первому столбцу = {mean_a[0]}, среднее по первому столбцу = {mean_a[1]}")

# Задача 2
# Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, 
# содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. 
# Получившийся массив должен иметь размер 5x2.

a_centered = a - mean_a
print(a_centered)

# Задание 3
#  Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться 
# величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

# how many observations
N = len(a_centered[:,0].tolist())
# mult 1st & 2nd column 
a_centered_sp = np.dot(a_centered[:,0],a_centered[:,1])
print(a_centered_sp / (N-1))

# Задача 4
# Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. 
# В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, 
# поэтому полученная нами величина является несмещенной оценкой ковариации.
# Подробнее узнать о ковариации можно здесь:
# https://studopedia.ru/9_153900_viborochnaya-kovariatsiya-i-viborochnaya-dispersiya.html
# В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. 
# В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. 
# В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации 
# будет равно элементу в строке с индексом 0 и столбце с индексом 1.

# embedded covariation
cov = np.cov(a.T)
print(cov)

# Check
print(cov[0,1] == a_centered_sp / (N-1))

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
среднее по первому столбцу = 2.0, среднее по первому столбцу = 8.4
[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]
2.0
[[1.  2. ]
 [2.  4.3]]
True

In [190]:
##### PANDAS

import pandas as pd

In [191]:
""" Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id 
и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся 
данные: 
[1, 1, 1, 2, 2, 3, 3], 
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 
'Таланты и поклонники'],[450, 300, 350, 500, 450, 370, 290]."""

" Задание 1\nИмпортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id \nи author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].\nЗатем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся \nданные: \n[1, 1, 1, 2, 2, 3, 3], \n['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', \n'Таланты и поклонники'],[450, 300, 350, 500, 450, 370, 290]."

In [192]:
author_names = ['Тургенев','Чехов','Островский']
authors = pd.DataFrame({'author_id':[1,2,3], 'author_name':author_names})
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [193]:
books = pd.DataFrame({'author_id':[1, 1, 1, 2, 2, 3, 3],'book_title': ['Отцы и дети', 'Рудин', 
                                                                       'Дворянское гнездо', 'Толстый и тонкий', 
                                                                       'Дама с собачкой', 'Гроза', 
                                                                       'Таланты и поклонники'], 
                      'price':[450, 300, 350, 500, 450, 370, 290]})
print(books)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [194]:
"""Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id."""

'Задание 2\nПолучите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.'

In [195]:
authors_price = pd.merge(authors, books, on='author_id')
print(Merged)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [196]:
"""Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами."""

'Задание 3\nСоздайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.'

In [197]:
top = authors_price.sort_values(by='price', ascending = False)
print(top.loc[:6])

   author_id author_name            book_title  price
3          2       Чехов      Толстый и тонкий    500
0          1    Тургенев           Отцы и дети    450
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
2          1    Тургенев     Дворянское гнездо    350
1          1    Тургенев                 Рудин    300
6          3  Островский  Таланты и поклонники    290

In [198]:
"""Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. 
В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора,минимальная, максимальная 
и средняя цена на книги этого автора."""

'Задание 4\nСоздайте датафрейм authors_stat на основе информации из authors_price. \nВ датафрейме authors_stat должны быть четыре столбца:\nauthor_name, min_price, max_price и mean_price,\nв которых должны содержаться соответственно имя автора,минимальная, максимальная \nи средняя цена на книги этого автора.'

In [199]:
for i in author_names:
    print(f"The average price for {i}'s book is {authors_price[authors_price.author_name == i].mean(axis = 0)['price']}")

The average price for Тургенев's book is 366.6666666666667
The average price for Чехов's book is 475.0
The average price for Островский's book is 330.0

In [200]:
"""
Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, 
какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']. """
""" Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака. 
Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. 
Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", 
а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, 
при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". 
Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, 
что датафреймы book_info и book_info2 идентичны.
 """

' Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака. \nДля каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. \nИспользуйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", \nа индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, \nпри необходимости загрузите библиотеку Numpy.\nНазовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". \nЗатем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, \nчто датафреймы book_info и book_info2 идентичны.\n '

In [201]:
authors_price.insert(4, 'cover', ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'])
#print(authors_price)
book_info = pd.pivot_table(authors_price, values = 'price', index = 'author_name', 
                           columns = 'cover', aggfunc = np.sum, fill_value = 0)
print(book_info)
print("_"*11*3)
book_info.to_pickle("./book_info.pkl")
book_info2 = pd.read_pickle("./book_info.pkl")
print(book_info2)

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950
_________________________________
cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950